
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    background-color: black;
    height: 136px;
}



.container_form{
    background-color: white;
    height: 464px;
}


.container_form {
    margin-left: 562px;
    margin-top: 63px;
    display: flex;
    gap: 3px;
    padding-top: 48px;
}


.p_form {
    margin-top: 11px;
    margin-left: 506px;
    font-size: 20px;
    color: gray;
    margin-bottom: 25px;
}


.label_form_1 {
    display: block;
    margin-bottom: -8px;
}


.label_form_2 {
    display: block;
    margin-bottom: 9px;
}

.input_form {
    outline: 0;
}


form {
    margin-left: 505px;
}


btn_primary {
    display: block;
    background: #5846f9;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 5px;
    background: #5846f9;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 5px;
    height: 42px;
    width: 382px;
    padding-top: 11px;
    padding-left: 11px;
    cursor: pointer;
}





.href_info {
    margin-left: 276px;
    color: #666;
    text-decoration: none;
}


.p_link {
    color: #666;
    padding: 20px;
    padding-left: 88px;
    padding-top: 30px;
}


.container_title{
    padding: 35px;
    margin-left: 190px;
    padding-top: 52px;
}